.victory {
  top: 20%;
  left:20%;
  background-color: black;
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 230px;
  -webkit-transform: skew(-15deg,-15deg);
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}
.back-drop {
  background-color: black;
  height: 100vh;
}

.victory:before {
  content: '-';
  position: absolute;
  bottom: -98px;
  left: 254px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  text-shadow: 70px -7px #F3C8F3;
}

.victory:after {
  content: '-';
  position: absolute;
  bottom: -85px;
  left: 395px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  text-shadow: 70px -5px #F3C8F3;
}

.victory-v {
  position: relative;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  padding-right: 18px;
  margin-right: -18px;
}

.victory-v:before {
  content: '-';
  position: absolute;
  top: -71px;
  left: -71px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
  -webkit-background-clip: text;
}

.victory-v:after {
  content: '-';
  position: absolute;
  top: -72px;
  left: 103px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
  -webkit-background-clip: text;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.LoginPage{
  display: flex;
  flex-flow: column;
}


.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
img {
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 5px;

}
.card {
  margin: 15px;
  text-align: center;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
}
.seen-card {
  margin: 15px;
  text-align: center;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0.2;
}
.inner-text {
  color: white;
font-family: Gill Sans, Verdana;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
}

.card:hover .overlay {
  opacity:0.8;
}
.overlay {
  border: 2px white solid;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}
.super-container {
  background-image: url('https://www.wallpaperpimper.com/wallpapers/ikiix2/imac-21-retina-4k/barcelona.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;

}
.buttons {
  flex-direction: row;
  justify-content: space-around;

}

.infoCard {
  margin: auto;
  border-radius: 5px;
  display: flex;
  height: 500px;
  width: 700px;
  background-color: white;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
   box-shadow: 7px 7px 7px rgba(0,0,0,0.7);
  align-items: center;
  flex-flow: column;
}
.pic {
height: 300px;
width: 300px;
border-radius: 50%;

}
.button-bar {
  height: 64px;

}
.background {
  box-shadow: 10px 10px 5px grey;
  height: 100%;
  background: url("http://barcelona.bigdataweek.com/wp-content/uploads/sites/5/2015/08/Slider-2560-x-1302-barcelona-v2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

}
.wrapper {
  border-radius: 5px;
  width: 900px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: auto;
  border: 3px solid black;
  background-color: white;
}
.bingoBoard {

  border: 10px solid black;
  flex:1;
}

.detail {
  height: 800px;
}


.inner-detail {
  position: absolute;
  width: 500px;
  height: 400px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
  opacity: 5;
  border-radius: 5px;

}

  .seen {
    background-color: black;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2018-6-11 15:46:36
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation scale-in-center
   * ----------------------------------------
   */
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  /* ----------------------------------------------
   * Generated by Animista on 2018-6-11 16:57:44
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation shadow-drop-2-center
   * ----------------------------------------
   */
  @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
